@import "@styles/variables.scss";

.list {
	background: #fff;
	padding: 10px;
	border-radius: 10px;

	&__item {
		border-radius: 10px;
		background: $cl-gray-2;
		padding: 10px;

		& + & {
			margin-top: 10px;
		}

		&-title {
			color: $cl-primary;
			font-weight: bold;
			font-size: 16px;
		}

		&-content {
			display: flex;
		}
	}

	&__textBold {
		font-weight: bold;
	}

	&__mrLeft {
		margin-left: 10px;
	}

	&__empty {
		@apply text-lg font-bold text-center px-4 py-8;
		color: $cl-primary;

		& > i {
			font-size: 6rem;
		}
	}
}
